:root {
  margin: 0;
}

body {
  background-color: #df554e;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

h1 {
  font-family: 'Satisfy', serif;
  font-size: 5rem;
  font-weight: 800;
}

h2 {
  font-family: 'Satisfy', serif;
  font-size: 5rem;
  font-weight: 800;
}

h3 {
  font-family: 'Lato', sans-serif;
  color: #F3E0D6;
  font-size: 1.25rem;
}

h3 span {
  font-family: 'Yellowtail', sans-serif;
  font-size:1.5rem;
}

h4,
h5,
h6 {
  font-family: 'Yellowtail', serif;
}


a {
  text-decoration: none;
}

.header-custom-background {
  background-image: url("/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

.offcanvas-custom {
  width: 340px !important;
  background-color: #df554e;
}

.offcanvas-custom-tittle {
  display: flex;
  justify-content: center;
  align-items: start;
  position: relative;
}

.offcanvas-custom-tittle .btn-close {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.offcanvas .watermark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20vh;
  /* Ajusta el tamaño de la fuente según necesites */
  color: rgba(255, 255, 255, 0.05);
  transform: rotate(-90deg);
  /* Rota el texto para que sea vertical */
  font-family: 'Satisfy', serif;
}

.btn {
  border: 0;
  border-radius: 2rem;
  padding: 0.5rem 1.25rem;
  font-weight: 500;
  cursor: pointer;
}
.primary {
  background-color: #df554e;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

.primary:hover,
.primary:active {
  background-color: #7B2B3B;
}

.secondary {
  background-color: #8bb449;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

.secondary:hover,
.secondary:active {
  background-color: #8A9A5B;
}

.text-emphasis {
  color:#df554e;
}
.footer-bg-custom {
  background-color: #8bb449;
}

.login-icon-custom {
  color:#8bb449;
  padding-right:2rem;
}

.active-link {
  color: orange;
  font-weight: 700;
}

.card-bg-custom {
  background-color: #252832;
}

.card-custom-shadow {
  box-shadow: rgba(123, 43, 59, 0.5) 0px 10px 20px, rgba(123, 43, 59, 0.5) 0px 6px 6px;
}
#pizza_img {
  width: 100%;
  height: auto;
}

#footer {
  background-image: url("/background-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  border-top: #7B2B3B;
  border:2px solid;
}

#footer .badge {
  background-color: #df554e;
}
#footer .badge-green {
  background-color: #8bb449;
  padding: 0.5rem 1rem;
  margin-bottom:0.5rem;
  border-radius:10px;
  font-size: small;
  width:80%;
}

.skewed-header {
  position: absolute;
  top: 95%; /* Ajusta esto para cambiar donde comienza el skewed-header */
  width: 100%;
  height: 5%;
  background: #df554e;
  z-index: 1; /* Asegúrate de que tenga un z-index más alto que el div de portada */
  transform: skewY(1deg);
  transform-origin: top left;
}

.skewed-footer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 8%;
  background: #df554e;
  z-index: 0;
  transform: skewY(-1deg);
  transform-origin: bottom left;
}
.mt-custom {
  margin-top:6rem;
}