:root {
  margin: 0;
  width: 100vw;
}

body {
  background-color: #df554e;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  width: 100vw;
}

h1 {
  font-family: 'Satisfy', serif;
  font-size: 2rem;
  font-weight: 800;
}

h2 {
  font-family: 'Satisfy', serif;
  font-size: 4rem;
  font-weight: 800;
}

h3 {
  font-family: 'Lato', sans-serif;
  color: #F3E0D6;
  font-size: 1.25rem;
}

h3 span {
  font-family: 'Yellowtail', sans-serif;
  font-size: 1.5rem;
}

h4,
h5,
h6 {
  font-family: 'Yellowtail', serif;
}

h6 {
  font-family: 'Lato', sans-serif;
  font-size: 0.75rem;
}

a {
  text-decoration: none;
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10
}

.header-custom-padding {
  padding-top: 160px;
}

.header-custom-background {
  background-image: url("/assets/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.offcanvas-custom {
  width: 340px !important;
  background-color: #df554e;
}

.menu-offcanvas-custom-tittle {
  display: flex;
  justify-content: center;
  align-items: start;
  position: relative;
}

.cart-offcanvas-custom-tittle {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
}

.menu-offcanvas-custom-tittle .btn-close,
.cart-offcanvas-custom-tittle .btn-close {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.watermark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20vh;
  /* Ajusta el tamaño de la fuente según necesites */
  color: rgba(255, 255, 255, 0.05);
  transform: rotate(-90deg);
  /* Rota el texto para que sea vertical */
  font-family: 'Satisfy', serif;
}

.accordion-button,
.accordion-item,
.accordion-button:not(.collapsed) {
  background-color: #252832 !important;
  color: white !important;
  font-family: 'Lato', sans-serif;
}

.accordion .accordion-item .accordion-body.accordion-body-custom {
  background-color: #252832 !important;
}

.btn {
  border: 0;
  border-radius: 2rem;
  padding: 0.5rem 1.25rem;
  font-weight: 500;
  cursor: pointer;
}

.primary {
  background-color: #df554e;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

.primary:hover,
.primary:active {
  background-color: #7B2B3B;
}

.secondary {
  background-color: #8bb449;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

.secondary:hover,
.secondary:active,
.secondary:focus-visible {
  background-color: #8A9A5B;
  border: 0;
}

.custom-footer-background {
  background-color: #8bb449;
}

.login-icon-custom {
  color: #8bb449;
  padding-right: 2rem;
}

.link-active {
  background-color: #7b2b3b61;
  color: white;
  border-radius: 10px;
  font-weight: 700;
  padding: 5px 10px;
}

.link-inactive {
  color: white;
  font-weight: 700;
  padding: 5px 10px;
}

.card-custom {
  background-color: #252832;
  border-radius: 20px;
  color: white;
  border: 0;
}

.custom-shadow {
  box-shadow: rgba(123, 43, 59, 0.5) 0px 10px 20px, rgba(123, 43, 59, 0.5) 0px 6px 6px;
}

.text-emphasis {
  color: #df554e
}

#footer {
  background-image: url("/assets/img/background-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  border-top: #7B2B3B;
  border: 2px solid;
}

.badge-red {
  background-color: #df554e;
}

.badge-green {
  background-color: #8bb449;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
  font-size: small;
  width: 80%;
}

.skewed-header {
  position: absolute;
  top: 95%;
  width: 100%;
  height: 5%;
  background-color: #df554e;
  z-index: 1;
  transform: skewY(1deg);
  transform-origin: top left;
}

.skewed-footer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 5%;
  background: #df554e;
  z-index: 0;
  transform: skewY(-1deg);
  transform-origin: bottom left;
}

.contact-custom-background {
  background-image: url("/assets/img/background-contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 330px;
}

.custom-margin-top {
  margin-top: 5.5rem;
}

.custom-margin-bottom {
  margin-bottom: 3.75rem;
}

.custom-popup {
  background-color: #df554e;
  border-radius: 20px;
  color: white;
}

.custom-popup h2 {
  font-size: 2rem;
}

.custom-points-background {
  background-image: url("/assets/img/background-points.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.nav {
  background-color: #df554e;
  display: flex;
  justify-content: end;
}

.nav-link {
  background-color: #fcfcfc;
  color: gray;
  margin-left: 1rem;
  border-color: #8bb449;
}

.nav-tabs {
  border-bottom: 4px solid #8bb449;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
  background-color: #8bb449;
  color: white;
  border-color: #8bb449;
}

.tab-content>.active {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgba(123, 43, 59, 0.5);

}


.login-with-google-btn {
  background-color: #4285F4;
  transition: background-color .3s, box-shadow .3s;
  padding: 10px 16px 10px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;

  &:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
  }

  &:active {
    background-color: #eeeeee;
  }

  &:focus {
    outline: none;
    box-shadow:
      0 -1px 0 rgba(0, 0, 0, .04),
      0 2px 4px rgba(0, 0, 0, .25),
      0 0 0 3px #c8dafc;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
  .header-custom-background {
    height: 800px;
  }
}